{{>header}}
<div class="container">
<div class="p-3 center">
    <h1 class="jambotext">About Us</h1>
    <h5 class="jambotext">
        As true partners to our clients, we solve problems, not tickets. Our developers, strategists, and designers are autonomous, outspoken, collaborative, and love doing the work. We’ve kept our team small and our org flat on purpose: that’s how we stay nimble, transparent, and human-centric.
    </h5>
    </div>

</div>
{{>footer}}