{{>header}}
<div class="container">
    Hey there, welcome <a href='/logout'>click to logout</a>
    <p>
    <a href="/articles">Articles</a>
    </p>

    <p>
    <a href="/add">Add Articles</a>
    </p>
</div>

{{>footer}}