{{>header}}
<div class="container">
    <p>Your privacy is important to us. It is Pinga Technologies policy to respect your privacy regarding any information we may collect from you across our website, </p>
    <a href="http://www.pinga.us">http://www.pinga.us</a>
    <p>We collect personal data that you provide when you:</p>
    <p>-Contact us by email</p>
    <p>If you contact us by email, we will collect the information provided in your email, which may include personal data such as your name, email address, telephone number, postal address, or work information (e.g. company name, job title). mail address you submit to us.</p>
    <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.</p>
    <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
    <p>We use Google Analytics (provided by Google, Inc.) to gather information about how users interact with the Site. Google Analytics utilizes cookies.</p>
    <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
    <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
    <p>If you have questions regarding this Privacy Policy, please contact us at: info@pinga.us.</p>


</div>

    {{>footer}}>